<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <!-- UIkit CSS -->
    <link href="/Styles/UIKit/uikit-rtl.min.css" rel="stylesheet" />
    <!-- Project CSS -->
    <!-- UIkit JS -->
    <script src="/Scripts/UIKit/uikit.min.js"></script>
    <script src="/Scripts/UIKit/uikit-icons.min.js"></script>
    <!-- Jquery -->
    <script src="/Scripts/Jquery/jquery-3.5.1.min.js"></script>
    <!--Project JS-->
    <script src="/Scripts/General.js"></script>

</head>
<body>
    <table dir="rtl" class="uk-margin-small-right uk-table .uk-table-hover uk-table-middle uk-table-divider uk-table uk-table-striped ">
        <thead>
            <tr>
                <th>آی دی</th>
                <th>شماره تلفن</th>
                <th>کد ملی</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr>
                <td>0</td>
                <td>0914</td>
                <td>136 318 77 55</td>
            </tr>
        </tbody>
    </table>
</body>
</html>