
@{
    ViewBag.Title = "درباره ما";
}
<section class="page-section breadcrumbs">
    <div class="container">
        <div class="page-header">
            <h1>درباره ما</h1>
        </div>
        <ul class="breadcrumb"></ul>
    </div>
</section>

<!-- PAGE -->
<section class="page-section color">
    <div class="container">

        <p class="text-center lead">

            با توجه به گسترش روز افزون تجارت الکترونیک و نیاز مشتریان به دسترسی سریع به قیمت کالاهای دیجیتال بر آن شدیم وب سایت اطلاع رسانی و فروش آنلاین <strong>ملک سرور </strong> را راه‌اندازی کنیم.
        </p>
        <h4 class="uk-margin-remove-bottom">
            زمینه‌های فعالیت
        </h4>
        <ul class="list">
            <li>– فروش سرورهای اچ پی</li>
            <li>– فروش قطعات و تجهیزات سرور</li>
            <li>– خدمات و پشتیبانی سرور</li>
        </ul>
        <hr class="page-divider" />
        <h3 class="center text-muted width-100 text-center uk-margin-remove-bottom uk-margin-medium-top">هماهنگی فروش</h3>




        <p class="text-center lead">
            به منظور عدم اتلاف وقت شما عزیزان، لطفا قبل از مراجعه حضوری جهت خرید و یا تحویل کالا، با واحد تحویل سفارشات هماهنگی فرمایید.
        </p>
        <p class="text-center lead">02188940037</p>

    </div>
</section>
<!-- /PAGE -->
