@model MalekServer3.Models.ViewModel.ForgotPasswordViewModel
@{
    ViewBag.Title = "فراموش کردن رمز";
}


<!-- PAGE -->
<section class="page-section color">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h3 class="block-title"><span>فراموش کردن رمز</span></h3>
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-login" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row  text-center">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "ایمیل" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12 d-flex ">
                            <div class="form-group text-center">
                                <!-- Site -->
                                <div class="g-recaptcha center uk-margin-small-bottom" data-sitekey="6LevZMIZAAAAAAp_NimdDiJ7wU6SCAIUHFI8-M_f"></div>
                                <!-- localhost -->
                                @*<div class="g-recaptcha center uk-margin-small-bottom" data-sitekey="6Ld_XsIZAAAAAD5pg4pDXJWD93von5OYhbai1zma"></div>*@

                                <span class=" uk-text-danger">@ViewBag.Message</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" value="ارسال رمز" class="btn btn-primary btn-theme btn-block" />
                        </div>
                    </div>

                }

            </div>
            <div class="col-md-3"></div>

        </div>
    </div>
</section>
<!-- /PAGE -->
