<div class="col-md-6">
    <div class="thumbnail no-border no-padding thumbnail-banner size-1x3">
        <div class="media">
            <a class="media-link" href="index.html#">
                <div class="img-bg" style="background-image: url('/Style/assets/img/preview/shop/banner-2.jpg')"></div>
                <div class="caption text-left">
                    <div class="caption-wrapper div-table">
                        <div class="caption-inner div-cell">
                            <h2 class="caption-title"><span>لورم ایپسوم</span></h2>
                            <h3 class="caption-sub-title"><span>لورم ایپسوم متن ساختگی با تولید سادگی</span></h3>
                            <span class="btn btn-theme btn-theme-sm">سفارش دهید</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

