<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ورود</title>

    <!-- UIkit CSS -->
    <link href="../Styles/UIKit/uikit.min.css" rel="stylesheet" />
    <!-- Project CSS -->
    <link href="../Styles/Entry.min.css" rel="stylesheet" />

    <!-- UIkit JS -->
    <script src="../Scripts/UIKit/uikit.min.js"></script>
    <script src="../Scripts/UIKit/uikit-icons.min.js"></script>
    <!-- Jquery -->
    <script src="../Scripts/Jquery/jquery-3.5.1.min.js"></script>
    <!--Project JS-->


</head>
<body class="column">
    <content class="login row">

        <form class="column">
            <h3>ورود</h3>

            <label>نام کاربری</label>
            <input class="uk-input" id="txtUsername" type="text" value="" />

            <label>گذزواژه</label>
            <input class="uk-input" id="txtPassword" type="password" value="" />

            <div class="column">
                <button class="uk-button uk-button-primary ">
                    ورود
                </button>
                <a href="SignUp.html" class="uk-margin-auto uk-margin-small-top">ساخت حساب</a>
            </div>

        </form>

        <img src="../Resources/Raster/LoginImage.png" />

    </content>

</body>
</html>