@import "_colors.scss";
@import "_controls.scss";
@import "_general.scss";

article > .column {
    flex: 1;
}

h3 {
    direction: rtl;
    text-align: justify;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden!important;
}

/**/

.blog {
    background: coral;
    padding: 20px;
}

.blog-adder {
    @include mat();
    background: $white;
    @include shadow-mega();
    width: 92vw;
}

#editor {
    min-height: 20vh;
}

.browse {
    padding: 20px 2.5vw;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    direction: rtl;
}

#addedImages {
    * {
        height: 5vw;
        width: 5vw;
        min-height: 24px;
        min-width: 24px;
        -o-object-fit: contain;
        object-fit: contain;
    }
}

.blog-view {
    @include mat();
    margin: 2vw auto;
    width: 90vw;
    @include shadow-mega();

    * {
        overflow:hidden;
    }

    img {
        margin: auto auto 2vh auto;
        align-self: flex-start;
    }
}
