@charset "UTF-8";
/*#region name*/
/*#endregion */
/*#region Global */
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
/*#region name*/
/*#endregion */
/*#region Global */
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
:root {
  --star-size: 24px;
  --star-color: #b5b5b5;
  --star-background: #fc0; }

@media only screen and (max-device-width: 480px) {
  :root {
    --star-size: 16px; } }

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  overflow-y: hidden; }
  .Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.star-container .star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */ }
  .star-container .star-cb-group * {
    font-size: 1rem;
    font-family: Times; }
  .star-container .star-cb-group > input {
    display: none; }
    .star-container .star-cb-group > input + label {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      white-space: nowrap;
      cursor: pointer;
      font-size: 1.5rem; }
      .star-container .star-cb-group > input + label:before {
        font-family: Times;
        display: inline-block;
        text-indent: -9999px;
        content: '★';
        color: #b5b5b5; }
    .star-container .star-cb-group > input:checked ~ label:before,
    .star-container .star-cb-group > input + label:hover ~ label:before,
    .star-container .star-cb-group > input + label:hover:before {
      font-family: Times;
      content: '★';
      color: #fc0;
      text-shadow: 0 0 1px #333; }
  .star-container .star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em; }
  .star-container .star-cb-group > .star-cb-clear + label:before {
    width: .5em; }
  .star-container .star-cb-group:hover > input + label:before {
    content: '★';
    color: #b5b5b5;
    text-shadow: none; }
  .star-container .star-cb-group:hover > input + label:hover ~ label:before,
  .star-container .star-cb-group:hover > input + label:hover:before {
    content: '★';
    color: #fc0;
    text-shadow: 0 0 1px #333; }

/*#region name*/
/*#endregion */
/*#region Global */
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
* {
  margin: 0;
  padding: 0;
  float: none;
  overflow-x: hidden;
  font-family: 'Segoe UI';
  text-decoration: none;
  text-align: right;
  outline: none; }

img {
  -o-object-fit: contain !important;
  object-fit: contain !important;
  overflow: hidden !important; }

html {
  background: #F7F7F7;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  html ::-webkit-scrollbar {
    width: 12px; }
  html ::-webkit-scrollbar-track {
    background: #dbdbdb; }
  html ::-webkit-scrollbar-thumb {
    background: #c1c1c1; }
  html ::-webkit-scrollbar-thumb:hover {
    background: #afb6c2; }

body {
  background: #F7F7F7;
  min-height: 100vh !important; }

a {
  text-decoration: none !important; }

a:hover {
  text-decoration: none !important; }

p {
  overflow-x: hidden;
  overflow-y: hidden;
  color: rgba(95, 95, 95, 0.85); }

.center {
  text-align: center;
  align-content: center;
  align-self: center;
  margin: 0 auto; }

.right {
  text-align: right;
  margin: auto 0 auto auto; }

.visible {
  visibility: visible; }

.collapsed {
  visibility: collapse;
  height: 0;
  width: 0;
  flex: 0; }

.hidden {
  visibility: hidden; }

.unselectable {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-user-select: none !important;
  user-select: none !important; }

img {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  pointer-events: none !important; }

.dummy {
  width: 100px;
  height: 100px;
  background: red; }

.space {
  width: 100vw;
  height: 4vw; }

.space-double {
  width: 100vw;
  height: 8vw; }

.space-half {
  width: 100vw;
  height: 2vw; }

.space-nav {
  width: 100vw;
  height: 140px; }

.space-desktop {
  width: 100vw;
  height: 4vw; }

@media only screen and (max-device-width: 480px) {
  .space-desktop {
    height: 0 !important; } }

.space-mobile {
  width: 100vw;
  height: 0vw; }

@media only screen and (max-device-width: 480px) {
  .space-mobile {
    height: 4vh !important; } }

.space-nav-bottom {
  width: 100vw;
  height: 60px; }

/*#region Alignment */
.column {
  overflow: visible;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.row {
  overflow: visible;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.fillwidth {
  min-width: 100%;
  height: auto; }

.fillheight {
  min-height: 100%;
  width: auto; }

/*#endregion */
::-webkit-input-placeholder {
  color: #afafaf; }

:-ms-input-placeholder {
  color: #afafaf; }

::placeholder {
  color: #afafaf; }

.pointer {
  cursor: pointer; }

.container {
  overflow: visible !important; }

.button-icon {
  padding: 6px;
  outline: none;
  border: none;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: #5B5B5B; }
  .button-icon .text {
    padding: 2px;
    margin: auto; }
  .button-icon .uk-icon {
    padding: 2px;
    margin: auto; }

.button-icon:hover {
  background: gainsboro;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }

nav {
  position: fixed;
  background: #fff;
  z-index: 100;
  width: 100vw;
  -moz-box-shadow: rgba(85, 85, 85, 0.38) 0 0px 2vw;
  -webkit-box-shadow: rgba(85, 85, 85, 0.38) 0 0px 2vw;
  box-shadow: rgba(85, 85, 85, 0.38) 0 0px 2vw;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s; }
  nav .stripe {
    width: 100vw;
    height: 6px;
    background: #43ADD5; }
  @media only screen and (max-device-width: 480px) {
    nav .uk-search {
      width: 28vw !important; } }
  nav .uk-search {
    width: 42vw; }
    nav .uk-search .uk-search-input {
      font-size: .80em;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      background: #f0f0f0; }
  nav .clone-container {
    display: none;
    visibility: collapse; }
  @media only screen and (max-device-width: 480px) {
    nav .main-search {
      display: none;
      visibility: collapse; }
    nav .clone-container {
      display: flex;
      visibility: visible;
      overflow: visible !important;
      width: 92vw;
      margin: auto; }
      nav .clone-container form {
        width: 85vw !important;
        margin: auto; }
        nav .clone-container form .search-clone {
          margin-top: -12px auto auto auto; }
          nav .clone-container form .search-clone .uk-search-input {
            margin-top: -12px auto auto auto;
            width: 85vw !important;
            font-size: .80em; } }
  nav .top {
    padding-right: 1.2vw; }
    nav .top .left {
      margin: 8px 8px 0px 16px;
      position: absolute; }
      nav .top .left .login {
        margin-left: 8px;
        font-size: .8em; }
      nav .top .left a {
        margin: auto; }
    nav .top .right {
      margin-right: 14px; }
    nav .top .logo {
      width: 120px;
      height: 75px; }
  @media only screen and (max-device-width: 520px) {
    nav .bottom {
      padding-right: 1.2vw;
      direction: rtl;
      margin: 0 auto !important;
      padding-bottom: 8px; }
    nav .logo {
      width: 90px !important;
      height: 50px !important; } }
  nav .bottom {
    padding-right: 1.6vw;
    direction: rtl;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #2f86b1; }
    nav .bottom * {
      color: #fff; }
    nav .bottom .uk-divider-vertical {
      height: 28px;
      margin: auto 0 auto 12px !important;
      padding: 0 !important; }
    @media only screen and (max-device-width: 520px) {
      nav .bottom .hide-text .text {
        display: none;
        visibility: collapse;
        flex: 0; }
      nav .bottom .hide-icon {
        margin: 0 auto !important; }
        nav .bottom .hide-icon .text {
          font-size: .9em !important; }
        nav .bottom .hide-icon .uk-icon {
          display: none; }
      nav .bottom .menu-item * {
        font-size: 1em !important; } }
    @media only screen and (max-width: 750px) {
      nav .bottom .hide-text .text {
        display: none;
        visibility: collapse;
        flex: 0; }
      nav .bottom .hide-icon {
        margin: 0 auto !important; }
        nav .bottom .hide-icon .text {
          font-size: .9em !important;
          white-space: nowrap; }
        nav .bottom .hide-icon .uk-icon {
          display: none;
          white-space: nowrap; } }
    nav .bottom .menu-item {
      color: #fff;
      padding: 4px 8px 8px 8px;
      background: transparent;
      border: none;
      outline: none;
      margin-left: 1vw;
      -moz-border-radius: 6px 6px 6px 6px;
      -webkit-border-radius: 6px 6px 6px 6px;
      border-radius: 6px 6px 6px 6px;
      -moz-transition: all ease 0.4s;
      -o-transition: all ease 0.4s;
      -webkit-transition: all ease 0.4s;
      transition: all ease 0.4s; }
      nav .bottom .menu-item * {
        font-size: 1.1em !important; }
    nav .bottom .menu-item:hover {
      -moz-transition: all ease 0.2s;
      -o-transition: all ease 0.2s;
      -webkit-transition: all ease 0.2s;
      transition: all ease 0.2s;
      background: #297499; }

.discount-star {
  background-image: url("../Resources/Vector/DiscountStar.svg");
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 6px;
  height: 20px;
  width: 20px;
  display: flex;
  align-content: center; }
  .discount-star span {
    font-size: 12px;
    margin: auto !important;
    text-align: center !important; }

.discount {
  margin-right: auto !important;
  text-decoration: line-through !important;
  font-size: 1em;
  color: #FF3338; }

.uk-card-title {
  text-align: center !important; }

@media only screen and (max-device-width: 480px) {
  .discount-star {
    margin-top: -4px;
    padding: 6px;
    height: 16px;
    width: 16px; }
    .discount-star span {
      font-size: 8px;
      margin: auto !important;
      text-align: center !important; }
  .discount {
    margin-left: auto !important;
    margin-right: auto !important;
    text-decoration: line-through !important;
    font-size: .7em !important;
    color: #FF3338; }
  .uk-card-title {
    font-size: .75em !important; } }

.model {
  margin: 0;
  padding: 8px !important;
  width: 290px;
  height: 380px;
  z-index: 0;
  overflow-y: hidden;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: solid 2px #2f86b1;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border-radius: 16px 16px 16px 16px;
  direction: ltr; }
  .model * {
    overflow: hidden; }
  .model section {
    flex: 1;
    width: 100%;
    min-height: 50%;
    background: #fafafa; }
    .model section .btn-cart {
      position: absolute;
      top: 12px;
      right: 12px;
      background: #00679A;
      width: 24px;
      padding: 4px 4px 0px 4px !important;
      margin: auto 0 auto 12px;
      outline: none;
      border: none;
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      -moz-transition: all ease 0.2s;
      -o-transition: all ease 0.2s;
      -webkit-transition: all ease 0.2s;
      transition: all ease 0.2s;
      color: white;
      cursor: pointer; }
      .model section .btn-cart * {
        color: white;
        margin: auto; }
    .model section .btn-cart:hover {
      background: #2f86b1; }
    .model section img {
      height: 100%;
      background: #fafafa;
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
  .model a {
    flex: 1;
    width: auto;
    padding: 4px 12px;
    cursor: pointer;
    overflow: hidden !important;
    margin: auto; }
    .model a h3 {
      margin: 0 0 4px auto;
      overflow: hidden;
      max-width: 220px;
      text-overflow: ellipsis;
      direction: rtl;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 1em; }
    .model a p {
      margin: 0;
      direction: rtl;
      text-align: justify;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      font-size: .8em; }
    .model a .star-container {
      margin-top: 4px;
      align-content: center !important; }
      .model a .star-container .Stars {
        display: inline-block;
        overflow-y: hidden;
        margin-right: auto !important;
        margin-left: auto !important; }
    .model a .row {
      align-content: center;
      margin-top: 4px;
      margin-left: auto;
      margin-right: auto; }
      .model a .row .percent {
        margin: auto;
        padding: 8px;
        overflow-y: hidden;
        font-size: 1em; }
      .model a .row .price {
        font-size: 1.4em;
        margin-left: auto !important;
        margin-right: auto !important; }
      .model a .row .price-toman {
        margin: auto 4px auto auto;
        margin-left: auto !important;
        margin-right: auto !important;
        font-size: .75em; }
      @media only screen and (max-device-width: 480px) {
        .model a .row .price {
          font-size: .8em !important; }
        .model a .row .price-toman {
          margin: auto 4px auto auto;
          font-size: .5em; } }

@media only screen and (max-device-width: 480px) {
  .model {
    width: 45vw !important;
    height: 300px !important; }
    .model section {
      flex: .8 !important; }
      .model section img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain; }
    .model content {
      flex: 1;
      padding: 0 12px 6px 12px; }
      .model content h3 {
        color: red !important;
        font-size: .5em !important;
        margin: 0 0 4px auto;
        white-space: nowrap !important;
        max-width: 32vw !important;
        direction: rtl; }
      .model content p {
        margin: 0;
        direction: rtl;
        text-align: justify;
        text-overflow: lin;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: .8em; }
      .model content .star-container {
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: auto; }
        .model content .star-container .Stars {
          display: inline-block;
          overflow-y: hidden; }
      .model content .row {
        margin-top: -2px !important; }
        .model content .row * {
          margin: auto inherit; }
        .model content .row .btn-cart {
          padding: 0 9px;
          margin: auto 0 auto auto; }
        .model content .row .percent {
          padding: 4px;
          overflow-y: hidden;
          font-size: .5em !important; }
        .model content .row .uk-badge {
          padding: 4px !important;
          font-size: .6em !important; }
        .model content .row .price {
          font-size: 0.65em !important; }
        .model content .row .price-toman {
          margin: auto 4px auto auto;
          font-size: 0.3em !important; } }

/*Blog*/
.blog-block {
  margin: 16px 0;
  width: 250px;
  height: 360px;
  padding: 8px;
  border: solid 2px #2f86b1;
  overflow-y: hidden;
  overflow-x: hidden !important;
  padding: 20px;
  background: #fff;
  -moz-box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
  box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border-radius: 16px 16px 16px 16px; }
  .blog-block img {
    flex: 1;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    max-height: 200px !important;
    height: 200px !important;
    background: #fafafa; }
  .blog-block .column {
    padding: 12px;
    flex: 1; }
    .blog-block .column h3 {
      text-align: right !important;
      width: 100% !important;
      overflow-y: hidden;
      direction: rtl;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5 !important;
      -webkit-box-orient: vertical;
      margin: 0;
      font-size: 1em; }
    .blog-block .column p {
      margin: 0;
      direction: rtl;
      text-align: justify;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      font-size: 1em; }
    .blog-block .column a {
      bottom: 12px;
      margin: 0 auto;
      background: #00679A;
      color: white;
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      padding: 8px 12px;
      text-align: center !important;
      margin: auto;
      width: 80%; }
    .blog-block .column a:hover {
      background: #0082c3; }

@media only screen and (max-device-width: 480px) {
  .blog-block {
    padding: 20px;
    background: #fff;
    -moz-box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
    -webkit-box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
    box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
    margin: 16px 0;
    width: 145px;
    height: 200px;
    overflow-y: hidden;
    padding: 0; }
    .blog-block img {
      flex: .8;
      -o-object-fit: contain;
      object-fit: contain;
      max-height: 80px !important;
      height: 80px !important;
      background: #fafafa; }
    .blog-block .column {
      padding: 12px;
      flex: 1; }
      .blog-block .column h3 {
        font-size: 10px;
        text-align: right !important;
        width: 100% !important;
        overflow-y: hidden;
        direction: rtl;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3 !important;
        -webkit-box-orient: vertical;
        margin: 0; }
      .blog-block .column p {
        margin: 0;
        direction: rtl;
        text-align: justify;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: .8em; }
      .blog-block .column a {
        font-size: .6em;
        padding: 4px 6px; } }

/*Browse*/
.browse {
  overflow: visible !important;
  padding: unset 2.5vw;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 2.5em;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  direction: rtl; }
  .browse .model {
    margin: auto !important; }

@media only screen and (max-device-width: 650px) {
  .browse {
    padding: 0 2.5vw;
    display: grid;
    grid-template-rows: auto;
    grid-gap: .8em !important;
    grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr)) !important;
    direction: rtl; } }

@media only screen and (max-width: 650px) {
  .browse {
    padding: 0 2.5vw;
    display: grid;
    grid-template-rows: auto;
    grid-gap: .8em !important;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr)) !important;
    direction: rtl; } }

.pill {
  position: fixed;
  right: 32px;
  bottom: 32px;
  min-width: 48px;
  min-height: 48px;
  z-index: 500;
  background: #43ADD5;
  border: none;
  padding: 0;
  display: flex;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 1vw;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 1vw;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 1vw;
  -moz-border-radius: 10px 10px 0 10px;
  -webkit-border-radius: 10px 10px 0 10px;
  border-radius: 10px 10px 0 10px; }
  .pill span {
    margin: auto;
    color: #fff; }

.pill:hover {
  background: #75c3e0; }

@media only screen and (max-device-width: 480px) {
  .pill {
    position: fixed;
    right: 16px;
    bottom: 16px;
    min-width: 38px;
    min-height: 38px;
    -moz-border-radius: 7px 7px 0 7px;
    -webkit-border-radius: 7px 7px 0 7px;
    border-radius: 7px 7px 0 7px; }
    .pill span {
      margin: auto;
      color: #fff; } }

#cards {
  padding-bottom: 32px !important; }

footer {
  background: #fff;
  -moz-box-shadow: rgba(85, 85, 85, 0.38) 0 0px 2vw;
  -webkit-box-shadow: rgba(85, 85, 85, 0.38) 0 0px 2vw;
  box-shadow: rgba(85, 85, 85, 0.38) 0 0px 2vw; }
  footer .icons {
    margin: auto;
    width: 100%;
    padding: 16px 0;
    border-top: solid 2px #00679A;
    border-bottom: solid 2px #00679A; }
    footer .icons ul {
      margin: auto !important;
      width: 72%;
      padding: 0; }
      footer .icons ul li {
        margin: auto;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -ms-align-content: center;
        -webkit-align-content: center;
        align-content: center; }
        footer .icons ul li img {
          flex: 5;
          height: 64px;
          width: 64px;
          -o-object-fit: cover;
          object-fit: cover;
          -o-object-position: center;
          object-position: center;
          margin: auto !important; }
        footer .icons ul li span {
          flex: 1; }
  footer .media {
    margin-top: 16px;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center; }
    footer .media .links {
      flex: 3; }
      footer .media .links h4 {
        margin-bottom: 8px; }
      footer .media .links ul {
        flex: 1;
        padding: 0 20px 0 0;
        margin: 0 auto; }
    footer .media .media-icons {
      flex: 1.5;
      padding: 0; }
      footer .media .media-icons ul {
        padding: 0 !important; }
        footer .media .media-icons ul li {
          margin-left: auto;
          width: 38px;
          height: 38px; }
          footer .media .media-icons ul li img {
            margin-left: auto; }
  footer .time {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    margin-top: 16px;
    padding-left: 20px;
    padding-right: 20px; }
    footer .time h4 {
      margin-bottom: 8px;
      font-size: 18px !important; }
  footer .address {
    margin-top: 16px; }
  footer .footer-stripe {
    padding: 12px 0; }
    footer .footer-stripe a {
      margin: auto; }

@media only screen and (max-device-width: 524px) {
  footer .icons {
    margin: auto; }
    footer .icons ul {
      margin: auto !important;
      width: 95%;
      padding: 0; }
      footer .icons ul img {
        width: 42px !important;
        height: 42px !important; }
      footer .icons ul span {
        font-size: 10px; }
  footer .media {
    margin-top: 16px;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center; }
    footer .media .media-icons {
      margin-top: 12px; }
  footer .time {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center; }
    footer .time p {
      margin: 0 !important; } }

@media only screen and (max-width: 724px) {
  footer .icons {
    margin: auto;
    width: 100%; }
    footer .icons ul {
      margin: auto !important;
      width: 95%;
      padding: 0; }
  footer .media {
    margin-top: 16px;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center; }
    footer .media .media-icons {
      margin-top: 12px; }
  footer .time {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center; } }

/*#region name*/
/*#endregion */
/*#region Global */
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
* {
  margin: 0;
  padding: 0;
  float: none;
  overflow-x: hidden;
  font-family: 'Segoe UI';
  text-decoration: none;
  text-align: right;
  outline: none; }

img {
  -o-object-fit: contain !important;
  object-fit: contain !important;
  overflow: hidden !important; }

html {
  background: #F7F7F7;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  html ::-webkit-scrollbar {
    width: 12px; }
  html ::-webkit-scrollbar-track {
    background: #dbdbdb; }
  html ::-webkit-scrollbar-thumb {
    background: #c1c1c1; }
  html ::-webkit-scrollbar-thumb:hover {
    background: #afb6c2; }

body {
  background: #F7F7F7;
  min-height: 100vh !important; }

a {
  text-decoration: none !important; }

a:hover {
  text-decoration: none !important; }

p {
  overflow-x: hidden;
  overflow-y: hidden;
  color: rgba(95, 95, 95, 0.85); }

.center {
  text-align: center;
  align-content: center;
  align-self: center;
  margin: 0 auto; }

.right {
  text-align: right;
  margin: auto 0 auto auto; }

.visible {
  visibility: visible; }

.collapsed {
  visibility: collapse;
  height: 0;
  width: 0;
  flex: 0; }

.hidden {
  visibility: hidden; }

.unselectable {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-user-select: none !important;
  user-select: none !important; }

img {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  pointer-events: none !important; }

.dummy {
  width: 100px;
  height: 100px;
  background: red; }

.space {
  width: 100vw;
  height: 4vw; }

.space-double {
  width: 100vw;
  height: 8vw; }

.space-half {
  width: 100vw;
  height: 2vw; }

.space-nav {
  width: 100vw;
  height: 140px; }

.space-desktop {
  width: 100vw;
  height: 4vw; }

@media only screen and (max-device-width: 480px) {
  .space-desktop {
    height: 0 !important; } }

.space-mobile {
  width: 100vw;
  height: 0vw; }

@media only screen and (max-device-width: 480px) {
  .space-mobile {
    height: 4vh !important; } }

.space-nav-bottom {
  width: 100vw;
  height: 60px; }

/*#region Alignment */
.column {
  overflow: visible;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.row {
  overflow: visible;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.fillwidth {
  min-width: 100%;
  height: auto; }

.fillheight {
  min-height: 100%;
  width: auto; }

/*#endregion */
::-webkit-input-placeholder {
  color: #afafaf; }

:-ms-input-placeholder {
  color: #afafaf; }

::placeholder {
  color: #afafaf; }

.pointer {
  cursor: pointer; }

.container {
  overflow: visible !important; }

.product {
  padding: 20px;
  background: #fff;
  -moz-box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
  box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
  width: 96vw;
  min-height: 50vh;
  margin: 10px auto 0 auto; }
  .product .discount {
    text-decoration: line-through !important; }
  .product * {
    overflow: hidden !important; }
  .product .price {
    background: #2f86b1;
    height: 40px;
    margin: 0 auto 0 0; }
    .product .price > * {
      color: #fff; }
    .product .price .cart {
      width: 40px;
      height: 40px;
      background: #00679A;
      display: flex; }
      .product .price .cart svg {
        margin: auto; }
    .product .price .cart:hover {
      background: #00537b; }
    .product .price .price {
      margin: auto 8px !important;
      height: auto;
      font-size: 1.2em; }
    .product .price .toman {
      font-size: .8em;
      width: 38px;
      text-align: right;
      margin: auto; }
  .product .alternate {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center; }
    .product .alternate .column {
      flex: 3;
      margin-right: 20px; }
      .product .alternate .column label {
        font-size: .8em;
        color: #848484; }
      .product .alternate .column select {
        direction: rtl; }
        .product .alternate .column select option {
          padding: 12px;
          -moz-transition: all ease 0.2s;
          -o-transition: all ease 0.2s;
          -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s; }
      .product .alternate .column header {
        font-weight: bold;
        font-size: 1.4em; }
      .product .alternate .column .star-container {
        margin-left: auto;
        background: #EBEBEB;
        padding: 6px 10px; }
      .product .alternate .column table {
        border: solid 1px #e4e4e4;
        direction: rtl;
        margin-bottom: 0 !important; }
        .product .alternate .column table * {
          text-align: right; }
        .product .alternate .column table tr, .product .alternate .column table td {
          width: 50%; }
        .product .alternate .column table a svg {
          margin: auto; }
    .product .alternate .slider {
      flex: 1.6;
      width: 32vw;
      margin-bottom: auto; }
      .product .alternate .slider * {
        height: 100% !important; }
      .product .alternate .slider .uk-thumbnav li {
        margin: 12px 12px 0 0; }
        .product .alternate .slider .uk-thumbnav li a img {
          width: 3vw !important;
          height: 3vw !important; }
    .product .alternate .imageAdder {
      flex: 1.6;
      margin-bottom: auto; }
      .product .alternate .imageAdder .js-upload {
        margin-left: auto; }
      .product .alternate .imageAdder .button-icon {
        color: white; }
    .product .alternate #addedImages {
      margin-right: 0 !important;
      direction: rtl;
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); }
      .product .alternate #addedImages .image-item {
        display: flex; }
        .product .alternate #addedImages .image-item img {
          -o-object-fit: contain;
          object-fit: contain;
          width: 6vw;
          height: 6vw;
          min-width: 42px;
          min-height: 42px;
          -moz-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
          z-index: 40; }
        .product .alternate #addedImages .image-item a {
          color: transparent;
          position: absolute;
          width: 6vw;
          height: 6vw;
          min-width: 42px;
          min-height: 42px;
          display: flex;
          -moz-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
          z-index: 50; }
          .product .alternate #addedImages .image-item a svg {
            margin: auto; }
        .product .alternate #addedImages .image-item a:hover {
          color: white;
          -moz-transition: all ease 0.2s;
          -o-transition: all ease 0.2s;
          -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s; }
        .product .alternate #addedImages .image-item a:hover + img {
          filter: brightness(64%);
          -moz-transition: all ease 0.2s;
          -o-transition: all ease 0.2s;
          -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s; }

@media only screen and (max-device-width: 480px) {
  .product .price {
    margin: 0 auto 20px 0; }
    .product .price > * {
      color: #fff; }
    .product .price .cart {
      width: 40px;
      height: 40px;
      background: #00679A;
      display: flex; }
      .product .price .cart svg {
        margin: auto; }
    .product .price .cart:hover {
      background: #00537b; }
    .product .price .price {
      margin: auto 8px !important;
      height: auto;
      font-size: 1.2em; }
    .product .price .toman {
      font-size: .8em;
      width: 38px;
      text-align: right;
      margin: auto; }
  .product .alternate {
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .product .alternate .column {
      margin-right: 0 !important; }
    .product .alternate .slider {
      margin-top: 50px;
      flex: 2;
      width: 100%;
      margin: auto;
      margin-bottom: 24px !important; }
      .product .alternate .slider .uk-thumbnav li {
        margin: 12px 12px 0 0; }
        .product .alternate .slider .uk-thumbnav li a img {
          width: 3vw;
          height: 3vw; } }

.keywords {
  padding: 20px;
  background: #fff;
  -moz-box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
  box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
  width: 91%;
  min-height: 20px;
  margin: 0 auto; }
  .keywords label {
    padding: 6px;
    background: #c1ebfb;
    color: #288db3;
    margin: 0 0 .7em .7em;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px; }
  .keywords .grid {
    direction: rtl;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }

.comment-section {
  width: 96vw;
  margin: auto;
  padding: 20px;
  background: transparent;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }
  .comment-section .comments {
    flex: 3;
    padding: 20px;
    background: #fff;
    -moz-box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
    -webkit-box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
    box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
    margin-left: auto;
    margin-top: auto;
    padding: 20px; }
    .comment-section .comments .uk-comment {
      margin-bottom: 20px; }
    .comment-section .comments .uk-comment-body p {
      direction: rtl;
      text-align: justify; }
  .comment-section .uk-divider-vertical {
    width: 0 !important;
    flex: .2;
    margin: auto; }
  .comment-section .make-comment {
    flex: 3;
    padding: 20px;
    background: #fff;
    -moz-box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
    -webkit-box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
    box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
    margin-right: auto;
    margin-bottom: auto; }
    .comment-section .make-comment textarea {
      position: sticky;
      resize: none;
      direction: rtl;
      text-align: justify;
      min-height: 7em; }
    .comment-section .make-comment .star-container input {
      background: red;
      outline: none; }

@media only screen and (max-device-width: 480px) {
  .comment-section {
    margin: auto;
    width: 100vw;
    padding: 0px;
    margin-bottom: 20px;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center; }
    .comment-section .comments {
      flex: 3;
      padding: 20px;
      background: #fff;
      -moz-box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
      -webkit-box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
      box-shadow: rgba(112, 112, 112, 0.38) 0 0px 0.4vw;
      margin-right: 2.5vw;
      margin-top: auto;
      padding: 20px; }
      .comment-section .comments .uk-comment {
        margin-bottom: 20px; }
      .comment-section .comments .uk-comment-body p {
        direction: rtl;
        text-align: justify; }
    .comment-section .make-comment {
      margin: auto;
      width: 85%;
      margin-bottom: 20px; } }
